/* <section class="github"> */
section.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px;
  background: linear-gradient(20deg, var(--cor-destaque-1) 0%, var(--cor-destaque-2) 20%, var(--cor-fundo) 40%);
  background: -webkit-linear-gradient(20deg, var(--cor-destaque-1) 0%, var(--cor-destaque-2) 20%, var(--cor-fundo) 40%);
}
section.github h2 {
  font-family: var(--bold);
  font-size: 2rem;
  color: var(--cor-branco);
  text-align: center;
}
section.github h2 span {
  color: var(--cor-principal);
}
section.github p {
  font-family: var(--regular);
  font-size: 1rem;
  color: var(--cor-branco);
  opacity: 0.8;
  line-height: 1.5;
  padding: 5px 0 30px 0;
  text-align: center;
}
section.github .input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 700px;

}
section.github .input .bolinha {
  position: absolute;
  left: 40px;
  width: 10px;
  height: 10px;
  background-color: var(--cor-principal);
  border-radius: 50%;
  pointer-events: none;
}
section.github .input h3 {
  font-family: var(--bold);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-principal);
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translate(0, -50%);
  pointer-events: none;
}
section.github .input button {
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}
section.github .input button img {
  width: 100%;
  max-width: 70px;
  pointer-events: none;
  transition: all 0.3s;
}
section.github .input button:hover img {
  opacity: 0.7;
  animation: imgButton 1s linear infinite;
}
@keyframes imgButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
section.github .input input {
  font-family: var(--regular);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-branco);
  background-color: var(--cor-fundo);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  padding: 40px 40px 40px 315px;
  width: 100%;
}
section.github .input input::placeholder {
  opacity: 1;
  color: var(--cor-texto);
}
section.github .input input:focus {
  color: var(--cor-principal);
}
/* Responsivo */
@media screen and (max-width: 1000px) {
  section.github {
    padding: 100px 20px;
    height: 100vh;
  }
  section.github .input .bolinha {
    display: none;
  }
  section.github .input h3 {
    font-size: 0.8rem;
    left: 25px;
  }
  section.github .input button {
    right: 10px;
  }
  section.github .input button img {
    max-width: 45px;
  }
  section.github .input input {
    font-size: 0.8rem;
    padding: 25px 25px 25px 175px;
  }
}